li{
    list-style: none;
    color: #fff;
}
li a{
    text-decoration: none;
}
.footerUl{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
}
.footerUl li{
    margin-left: 4vw;
    margin-top: 3vh;
    font-family: 'kalame';
}

.footerUl li span{
    padding-left: 3vh;
}

.footerCon{
    margin-bottom: 2vh;
    background-color: hsl(199, 85%, 5%);
    padding-bottom: 4vh;
}
.conRow .row{
    margin-top: 4vh;
}
.footerUl li a {
    color: #fff;
}
.footerUl li a:hover {
    color: #517adf;
}