/* first part */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "kalame";
}
body {
  overflow-x: hidden;
  background-color: #fff;
}
a {
  text-decoration: none !important;
}

.conRow .row {
  width: 100%;
  margin: 0 auto;
}
.row .rightWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.row .rightWrap p {
  font-size: 4vh;
  font-weight: 300;
  line-height: 110%;
  color: rgba(20, 19, 19, 1);
  margin-top: 5vh;
  font-family: "kalame";
}
.leftWrap {
  display: flex;
  justify-content: space-between;
}
.leftWrap .leftA,
.leftB,
.leftC {
  transform: rotate(20deg) translate(-3vw, 20vh);
  transform-origin: center center;
}

.leftCol .leftWrap {
  width: 100%;
  margin: 0 auto;
}
.leftA img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.leftB img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.leftC img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.leftB {
  margin: 1vw 3vw;
}
.leftA img:nth-child(2) {
  margin: 2vh 0;
}
.leftB img:nth-child(2) {
  margin: 2vh 0;
}
.leftC img:nth-child(2) {
  margin: 2vh 0;
}

.rightWrap .menuH a {
  color: rgb(86, 86, 86);
  transition: all ease 0.3s;
}
.rightWrap .menuH a:hover {
  color: rgb(0, 0, 0);
  transition: all ease 0.3s;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .row .rightWrap{
    margin-bottom: 15vh;
  }
}
